.btn {
    border-radius: 10px;
    cursor: pointer;

    /* variant */
    &.filled {
        background-color: var(--primary-blue);
        color: var(--white);
    }

    &.tinted {
        background-color: var(--secondary-blue);
        color: var(--primary-blue);
    }

    &.tinted-bordered {
        background-color: var(--secondary-blue);
        border: 1px solid var(--primary-blue);
        color: var(--primary-blue);
    }

    &.tinted-gray {
        background-color: var(--background-gray);
        border: 1px solid var(--light-gray);
        color: var(--deep-gray);
    }

    &.bordered-gray {
        background-color: var(--white);
        border: 1px solid var(--light-gray);
        color: var(--deep-gray);
    }

    &.borderless {
        background-color: transparent;
        color: var(--deep-gray);
    }

    &:disabled {
        background-color: var(--light-gray);
        color: var(--deep-gray);
        cursor: not-allowed;
    }

    /* size */

    &.full {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    &.fit {
        font-size: 16px;
        padding: 10px 15px;
    }

    &.fit-small {
        font-size: 12px;
        padding: 10px 15px;
    }

    &.small {
        font-size: 12px;
    }

    &.symbol {
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 15px;
    }
}