<!-- header -->
<app-header-bar></app-header-bar>
<app-store-header *ngIf="store" [store]="store"></app-store-header>

<ion-content>
  <!-- store-info -->
   <div>
    <app-store-info *ngIf="store" [store]="store"></app-store-info>
   </div>
  
  <!-- latest event -->
   <div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      
      <span><strong>진행 중 이벤트</strong></span>
      <app-button label="더보기" variant="secondary" (click)="goEventListPage()"></app-button>
    </div>
    
    <ng-container *ngIf="event; else noEvent">
      <app-event [event]="event"></app-event>
    </ng-container>
  
    <ng-template #noEvent>
      <p>현재 진행중인 이벤트가 없습니다</p>
    </ng-template>
   </div>

   
   <!-- reviews -->
   <div>
     <div style="display: flex; justify-content: space-between; align-items: center;">
       <span><strong>가게 리뷰</strong> {{ getReviewsCount() }} 개</span> 
       <!-- 리뷰 작성 페이지로 이동하는 버튼 -->
       <app-button label="리뷰 작성하기" variant="small" (click)="goWriteReviewPage()"></app-button>
     </div>
    
    <!-- review-list -->
    <app-reviews *ngIf="reviews" [reviews]="reviews"></app-reviews>
   </div>
</ion-content>