<!-- Store header -->
<app-store-header *ngIf="store" [store]="store"></app-store-header>

<ion-content>
  <!-- store-info -->
  <app-store-info *ngIf="store" [store]="store"></app-store-info>

  <!-- latest event -->
  <app-event *ngIf="event" [event]="event"></app-event>

  <ion-button expand="block" (click)="goEventListPage()">
    이벤트 목록
  </ion-button>

  <!-- 리뷰 작성 페이지로 이동하는 버튼 -->
  <ion-button expand="block" (click)="goWriteReviewPage()">
    리뷰 작성하기
  </ion-button>
  
  <!-- review-list -->
  <app-reviews *ngIf="reviews" [reviews]="reviews"></app-reviews>
</ion-content>