<app-header-bar></app-header-bar>

<ion-content>
  <app-container>

    <div class="page-title">로그인</div>
  
    <form (ngSubmit)="onSubmit()">
      <!-- 이메일 -->
      <div class="input-container">
        <div class="component-title">이메일</div>
        <app-input [placeholder]="'이메일'" [(value)]="form.email"></app-input>
      </div>
  
      <!-- 비밀번호 -->
      <div class="input-container">
        <div class="component-title">비밀번호</div>
        <app-input [placeholder]="'비밀번호'" [(value)]="form.password" type="password"></app-input>
      </div>
  
      <!-- 로그인 버튼 -->
      <app-button label="로그인" variant="filled" size="full" type="submit"></app-button>
  
    </form>
  
    <!-- 회원가입 버튼 -->
    <app-button label="회원가입" variant="tinted" size="full" (click)="goRegisterPage()"></app-button>
  </app-container>
</ion-content>