<ion-header>
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content>
  <div class="page-title">로그인</div>

  <form (ngSubmit)="onSubmit()">
    <ion-list>
      <!-- 이메일 -->
       <div class="input-container">
          <div class="component-title">이메일</div>
          <div class="input-box"><ion-input type="email" [(ngModel)]="form.email" name="email" placeholder="이메일"></ion-input></div>
       </div>

      <!-- 비밀번호 -->
       <div class="input-container">
          <div class="component-title">비밀번호</div>
          <div class="input-box"><ion-input type="password" [(ngModel)]="form.password" name="password" placeholder="비밀번호"></ion-input></div>
       </div>
    </ion-list>

    <!-- 로그인 버튼 -->
    <app-button label="로그인" variant="filled" size="full" type="submit"></app-button>

  </form>

  <!-- 회원가입 버튼 -->
  <app-button label="회원가입" variant="tinted" size="full" (click)="goRegisterPage()"></app-button>
</ion-content>