<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <p *ngIf="userNickname" class="recommendation-message">{{ userNickname }}님이 좋아할 만한 가게 목록입니다.</p>
    <div *ngIf="isLoading" class="loading-message">
      <ion-spinner name="crescent"></ion-spinner>
      <p>추천 상점을 불러오는 중...</p>
    </div>

    <div *ngIf="!isLoading && errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

    <ion-list *ngIf="!isLoading && !errorMessage && recommendedStores.length > 0">
      <ion-item *ngFor="let store of recommendedStores" (click)="goToStoreDetails(store.store_id)" button detail>
        <ion-label>
          <h2>{{ store.store_name }}</h2>
          <p>{{ store.address }}</p>
          <p>카테고리: {{ store.category.category_name }}</p>
          <!-- Add more store details as needed -->
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!isLoading && !errorMessage && recommendedStores.length === 0" class="no-recommendations">
      <p>현재 추천할 상점이 없습니다.</p>
    </div>
  </div>
</ion-content>
