<!-- 공통 헤더 -->
<ion-header>
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content>

<!-- Store header -->
<app-store-header *ngIf="store" [store]="store"></app-store-header>

<!-- 지도 미리보기 -->
<app-map-preview *ngIf="store" [lat]="store.latitude ?? null" [lng]="store.longitude ?? null"></app-map-preview>

<!-- 가게 정보 -->
<!-- <app-store-info *ngIf="store" [store]="store"></app-store-info> -->
 <!-- 가게 정보 -->
<ion-card *ngIf="store">
  <ion-card-content>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2 style="margin: 0;"><strong>가게 정보</strong></h2>
    </div>
    <br>
    <p><strong>카테고리:</strong> {{ store.category.category_name }}</p>
    <p><strong>주소:</strong>{{ store.address }}</p>
    <p><strong>전화번호:</strong>{{ store.contact_number }}</p>
    <p *ngIf="store.description">{{ store.description }}</p>
  </ion-card-content>
</ion-card>