<!-- 공통 헤더 -->
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Home</ion-title>
      </ion-toolbar>
    </ion-header>
  <app-header-bar></app-header-bar>

<!-- Store header -->
<app-store-header *ngIf="store" [store]="store"></app-store-header>

<!-- 지도 미리보기 -->
<div class="mini-map-wrapper">
    <!-- 미니맵 iframe -->
    <iframe id="mini-map-iframe" src="assets/naver-map/index.html" width="100%" height="500" style=" border: none;"></iframe>
</div>

<!-- 가게 정보 -->
<app-store-info *ngIf="store" [store]="store"></app-store-info>