.container {
    display: flex;
    flex-direction: column;
    gap: 6px;

    >div+div {
        margin-top: 0px;
    }

    >div:first-child {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
    }

    .status-badge {
        padding: 2px 8px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        background-color: #eeeeee;
        color: #555555;

        &.submitted {
            background-color: #e1f7e6;
            color: #34C759;
        }

        &.rejected {
            background-color: #ffe2e0;
            color: #ff3b30;
        }
    }

    .store-name {
        font-size: 16px;
        color: black;
    }

    .date {
        font-size: 14px;
        color: #666;
    }

    .remark {
        font-size: 14px;
        color: #666;
    }
}
