.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

.search-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
    margin-right: 10px;
}

ion-item {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  ion-button[slot="end"] {
    margin-left: auto;
    min-width: 60px;
    height: 40px;
    font-size: 14px;
  }
  