<ion-list>
  <!-- 가게 이름 -->
  <ion-item>
    <ion-label position="floating">가게 이름</ion-label>
    <ion-input [(ngModel)]="storeRequest.store_name"></ion-input>
    <ion-button slot="end" color="primary" (click)="searchStore()">검색</ion-button>
  </ion-item>

  <!-- 검색 결과 리스트 -->
  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let store of searchResults" (click)="selectStore(store)">
      <ion-label>
        <h3>{{ store.store_name }}</h3>
        <p>{{ store.address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- 주소 -->
  <ion-item>
    <ion-label position="floating">주소</ion-label>
    <ion-input [(ngModel)]="storeRequest.address"></ion-input>
  </ion-item>

  <!-- 연락처 -->
  <ion-item>
    <ion-label position="floating">연락처</ion-label>
    <ion-input [(ngModel)]="storeRequest.contact_number"></ion-input>
  </ion-item>

  <!-- 카테고리 -->
  <ion-item>
    <ion-label position="floating">카테고리</ion-label>
    <ion-input [(ngModel)]="storeRequest.category"></ion-input>
  </ion-item>
</ion-list>

<!-- 버튼 컨테이너 -->
<div class="button-container">
  <ion-button expand="full" color="primary" (click)="submitRequest()">등록하기</ion-button>
  <ion-button expand="full" color="light" (click)="goBack()">취소</ion-button>
</div>