<ion-header>
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sub-title-bar">
    <div class="component-title">내 매장 관리</div>
  </div>
  <ion-list>
    <ion-item *ngFor="let store of stores">
      <ion-label>
        <h2>{{ store.store_name }}</h2>
        <p>{{ store.description }}</p>
      </ion-label>
      <ion-button expand="block" (click)="goStorePage(store)">접속</ion-button>
      <ion-button expand="block" (click)="goEditPage(store)">관리</ion-button>
    </ion-item>
  </ion-list>
</ion-content>