<ion-label>
  가게신청서입니다
  <div>
    <p>신청자 {{ request.user_name }}</p>
    <p>가게 {{ request.store_name }}</p>
    <p>신청일 {{ request.created_at | koreanDate }}</p>
    <p>상태 {{ request.status | requestStatusPipe }}</p>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="status = RequestStatus.APPROVED">
            승인
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="status = RequestStatus.REJECTED">
            거절
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-input label="비고" [(ngModel)]="remark"></ion-input>
    
    <ion-button (click)="updateStoreRequest()">완료</ion-button>
  </div>
</ion-label>
