.loading-message,
.error-message,
.no-recommendations {
  text-align: center;
  margin-top: 20px;
}

.recommendation-message {
  text-align: center;
  font-size: 1.1em;
  color: var(--ion-color-primary);
  margin-bottom: 15px;
  font-weight: bold;
}

.error-message {
  color: var(--ion-color-danger);
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 8px;
}

ion-label h2 {
  font-weight: bold;
  font-size: 1.2em;
}

ion-label p {
  color: var(--ion-color-medium);
  font-size: 0.9em;
}

ion-list {
  padding: 0 10px;
}

ion-item:last-child {
  margin-bottom: 0;
}

.list-h2 {
  padding-bottom: 5px
}

.description {
  background: var(--card);
  border: 20px solid var(--line);
  border-radius: 16px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .03), 0 8px 24px rgba(0, 0, 0, .04);
}