<!-- Store header -->
<app-store-header *ngIf="store" [store]="store"></app-store-header>

<!-- (매니저) 이벤트 작성 페이지로 이동-->
<button (click)="goWriteEvent()">새로운 이벤트 작성</button>

<!-- 메뉴 목록 출력 -->
<ion-content>
  <ng-container *ngIf="events && events.length > 0; else noEvent">
    <ion-list>
      <ion-item *ngFor="let event of events">
        <ion-label>
          <h2>{{ event.title }}</h2>
          <p>{{ event.description }}</p>
          <p>시작일: {{ event.start_date | koreanDate }}</p>
          <p>종료일: {{ event.end_date | koreanDate }}</p>
          <p>상태: {{ event.event_status | eventStatusPipe }}</p>
          <p>작성일: {{ event.created_at | koreanDate }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- 메뉴가 없는 경우 표시 -->
  <ng-template #noEvent>
    <ion-card>
      <ion-card-content>
        <p>등록된 메뉴가 없습니다.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>