<app-container>
  <div class="page-title">{{ request.store_name }}</div>

  <!-- 신청자 -->
  <div class="input-container inline">
    <div class="component-title">신청자</div>
    <div class="value">{{ request.user_name }}</div>
  </div>

  <!-- 신청일 -->
  <div class="input-container">
    <div class="component-title">신청일</div>
    <div class="value">{{ request.created_at | dateFormatPipe }}</div>
  </div>

  <!-- 상태 -->
  <div class="input-container inline">
    <div class="component-title">상태</div>
    <span
      class="badge"
      [ngClass]="{
        'badge-pending': request.status === RequestStatus.SUBMITTED,
        'badge-success': request.status === RequestStatus.APPROVED,
        'badge-danger': request.status === RequestStatus.REJECTED
      }"
    >
      {{ request.status | requestStatusPipe }}
    </span>
  </div>

  <!-- 비고 -->
  <div class="input-container">
    <div class="component-title">비고</div>
    <app-input
      [placeholder]="'관리자 메모를 입력하세요'"
      [value]="request.remark"
      (valueChange)="request.remark = $event"
      area="one-line">
    </app-input>
  </div>

  <!-- 승인/거절 -->
  <div class="button-group">
    <app-button label="승인" variant="filled" size="full"
      [ngClass]="{ 'active': selectedStatus === RequestStatus.APPROVED }"
      (click)="toggleStatus(RequestStatus.APPROVED)">
    </app-button>
    <app-button label="거절" variant="tinted" size="full"
      [ngClass]="{ 'active': selectedStatus === RequestStatus.REJECTED }"
      (click)="toggleStatus(RequestStatus.REJECTED)">
    </app-button>
  </div>

  <!-- 완료 -->
  <app-button label="완료" variant="filled" size="full" (click)="confirmAndUpdate()"> </app-button>
</app-container>
