<ion-content [fullscreen]="true">
  <div class="title-bar">
    <span class="page-title">내 정보 수정</span>
  </div>

  <!-- 이미지 -->
  <div class="image-box">
    <!-- 미리보기 -->
    <span *ngIf="previewUrls.length > 0">
      <img *ngFor="let url of previewUrls" [src]="url" class="preview-img" />
    </span>

    <!-- 업로드 -->
    <label class="upload-button">
      <ion-icon name="add" class="upload-icon"></ion-icon>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
    </label>
  </div>

  <!-- 닉네임 입력창 -->
  <app-input 
    type="text" 
    placeholder="새 닉네임" 
    area="one-line" 
    [(value)]="new_nickname" 
    (valueChange)="onNicknameChange()">
  </app-input>

  <!-- 제출 버튼 -->
  <app-button 
    label="변경 완료" 
    variant="filled" 
    size="full" 
    [disabled]="isButtonDisabled" 
    (click)="onSubmit()">
  </app-button>
</ion-content>
