.preview-image-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
  overflow-x: auto;
}

.preview-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}
