<div class="search-bar">
  <app-search-bar (searchEvent)="onSearch($event)" (clearEvent)="onClearSearch()"></app-search-bar>
</div>
  


<!-- 사용자 날씨 입력창 추가 (예: 맑음, 흐림, 비) -->
<div class="weather-input-wrapper">
    <input [(ngModel)]="userWeather" placeholder="오늘 날씨는 어떤가요? "/>
    <button (click)="generateKeywordRecommendations()">추천받기</button>
</div>

<!-- 추천 키워드 버튼 리스트 -->
<div *ngIf="recommendedKeywords.length > 0" class="keyword-chips">
  <p>추천 키워드</p>
  <div class="chip-list">
    <button
      *ngFor="let keyword of recommendedKeywords"
      class="chip"
      [class.active]="selectedKeyword === keyword"
      (click)="onClickKeyword(keyword)">
      {{ keyword }}
    </button>
  </div>
</div>

<!-- 위치 추적 토글 버튼 -->
<!-- <div class="tracking-toggle">
    <button (click)="toggleTracking()">
        {{ isTracking ? '실시간 위치 추적 중지' : '실시간 위치 추적 시작' }}
    </button>
</div> -->

<!-- 검색 결과가 있을 때 리스트 표시 -->
<div *ngIf="searchQuery && filteredStores.length > 0" class="search-result-list">
    <h3>검색 결과</h3>
    <ul class="store-list">
        <li *ngFor="let store of filteredStores" class="store-item" (click)="focusStoreOnMap(store)">
        <div class="store-name">{{ store.store_name }}</div>
        <div class="store-address">{{ store.address }}</div>
        </li>
    </ul>
</div>

<!-- 지도 표시 -->
<div id="map" class="map-container"></div>
