:root {
    --primary-blue: #1560BD;
    --secondary-blue: #dae4ef;
    --deep-gray: #5c6065;
    --light-gray: #c9cdd2;
    --background-gray: #f4f4f5;
    --white: #ffffff;
    --black: #000000;
    --red: #FF3B30;
    --tinted-red: #FFE2E0;
    --green: #34c759;
    --tinted-green: #E1F7E6;
  }
  