<ion-header>
  <ion-toolbar>
    <app-header-bar></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <!-- 내부 내용 -->
  <div>
    <ng-container *ngIf="role === 'MANAGER'">
      <ion-button expand="block" (click)="goToCreateManagerRequest()">
        매니저 요청 생성
      </ion-button>
      <ion-button expand="block" (click)="goToMyManagerRequests()">
        내 요청 목록
      </ion-button>
    </ng-container>

    <ng-container *ngIf="role === 'ADMIN'">
      <ion-button expand="block" (click)="goToManagerRequestPage()">
        매니저 요청 페이지 (관리자용)
      </ion-button>
    </ng-container>
  </div>

  <!-- 지도 컴포넌트 -->
  <app-map></app-map>
</ion-content>