<ion-header>
  <ion-toolbar>
    <ion-title>회원가입</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-list>

      <!-- 역할 -->
       <div class="input-container">
         <div class="component-title">역할</div>
         <div class="selections">
           <app-button label="사용자" variant="bordered-gray" size="fit"></app-button>
           <app-button label="점주" variant="bordered-gray" size="fit"></app-button>
           <app-button label="관리자" variant="bordered-gray" size="fit"></app-button>
         </div>
         <ion-select [(ngModel)]="form.role" name="role">
           <ion-select-option value="USER">사용자</ion-select-option>
           <ion-select-option value="MANAGER">가게 매니저</ion-select-option>
           <ion-select-option value="ADMIN">관리자</ion-select-option>
         </ion-select>
       </div>

      <!-- 이메일 -->
       <div class="input-container">
         <div class="component-title">이메일</div>
         <div class="email-check">
           <div class="input-box">
             <ion-input 
               type="email" 
               [(ngModel)]="form.email" 
               name="email" 
               required 
               [disabled]="isEmailChecked"
               (ngModelChange)="onEmailChange()"
               placeholder="이메일">
             </ion-input>
           </div>
           <app-button label="중복 확인" variant="filled" size="fit" (click)="duplicateCheck()" [disabled]="isEmailChecked"></app-button>
         </div>
       </div>

      <!-- 비밀번호 -->
      <div class="input-container">
        <div class="component-title">비밀번호</div>
        <div class="input-box">
          <ion-input type="password" [(ngModel)]="form.password" name="password" required placeholder="비밀번호"></ion-input>
        </div>
      </div>

      <!-- 닉네임 -->
       <div class="input-container">
        <div class="component-title">닉네임</div>
        <div class="input-box"><ion-input type="text" [(ngModel)]="form.nickname" name="nickname" required placeholder="닉네임"></ion-input></div>
       </div>

      <!-- 전화번호 -->
      <div  class="input-container">
        <div class="component-title">전화번호</div>
        <div class="input-box"><ion-input type="tel" [(ngModel)]="form.phone_number" name="phone_number" required placeholder="전화번호"></ion-input></div>
      </div>
    </ion-list>

    <!-- 회원가입 버튼 -->
     <app-button label="회원가입" variant="filled" size="full" type="submit" [disabled]="!(isEmailChecked && isEmailUsable)"></app-button>
  </form>
</ion-content>
