<ion-content [fullscreen]="true">
  <app-header-bar></app-header-bar>

  <div class="page-title">마이페이지</div>
  <app-my-info></app-my-info>

  <ng-container *ngIf="role === 'ADMIN'">
    <ion-button expand="block" (click)="goToManagerRequestPage()">
      매니저 요청 페이지 (관리자용)
    </ion-button>
  </ng-container>
  <ng-container *ngIf="role !== 'ADMIN'">
    <hr style="height: 3px; background-color: #ccc; border: none; margin: 16px auto;" />

    <app-my-review-list></app-my-review-list>
  </ng-container>
</ion-content>